input[type=checkbox] {
    width: 24px;
    height: 24px;

    outline: none;
    border: none;
    position: relative;

    appearance: none;
}

input[type=checkbox]::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background: var(--checkbox-background);
    border-radius: 5px;
    cursor: pointer;
    z-index: 75;
}
input[type=checkbox]::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 5px;
    bottom: 6px;
    width: 12px;
    height: 12px;
    border-right: 3px solid var(--checkbox-marker);
    border-bottom: 3px solid var(--checkbox-marker);
    z-index: 80;
    opacity: 0;
    transform: rotate(0deg);
    transition: opacity .2s ease,
                transform .2s ease;
}
input[type=checkbox]:checked::after {
    transform: rotate(45deg);
    opacity: 1;
}

