{% load i18n %}

{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} app-grid">
            <h2>{{ app.name }}</h2>
            <div class="app-models-grid">
                {% for model in app.models %}
                    <a href="{{ model.admin_url }}" class="model-panel">
                        {% include 'admin/includes/sidebar/icon.html' with app=model.object_name %}
                        <h3>{{ model.name }}</h3>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p class="errornote">
        {% translate 'You don’t have permission to view or edit anything.' %}
    </p>
{% endif %}
