{% load i18n dashboard %}
{% random_id as block_id %}
<a
    href="#"
    data-role="toggle"
    class="filter-title"
    data-toggle-group="{{ block_id }}"
    data-toggle-target="filter-{{ block_id }}"
>
    {% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}
</a>
<div id="filter-{{ block_id }}">
    <ul>
        {% for choice in choices %}
            <li{% if choice.selected %} class="selected"{% endif %}>
            <a href="{{ choice.query_string|iriencode }}" title="{{ choice.display }}">{{ choice.display }}</a></li>
        {% endfor %}
    </ul>
</div>
