.tag-tree,
.tag-tree ul {
    list-style-type: none !important;
}
.tag-tree li > span {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: normal !important;
    border: 1px solid transparent;
}
.tag-tree li > span .fit {
    flex: 1;
}
.tag-tree li > span[data-role=toggle] {
    font-weight: bold !important;
    cursor: pointer;
}
.tag-tree li > span > i {
    margin-right: 10px;
    transition: transform .3s ease;
}
.tag-tree li > span.active > i {
    transform: rotate(90deg);
}

.tag-tree li > span:hover {
    border-color: var(--foreground);
}

.tag-tree .tag-button {
    margin: 0 10px;
}

.tag-tree ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);
}
.tag-tree ul.visible {
    max-height: 99em;
    transition: max-height .5s ease-in-out;
}