.errornote {
    background: var(--message-background);
    color: var(--message-foreground);

    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.errornote span {
    display: block;
    margin-bottom: 15px;
    color: var(--message-error-marker);
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
}

ul.messagelist,
ul.errorlist {
    list-style-type: none;
    margin: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
ul.messagelist li,
ul.errorlist li {
    margin-bottom: 10px;

    background: var(--message-background);
    color: var(--message-foreground);

    padding: 10px;
    border-radius: 5px;
}
ul.messagelist li a {
    text-decoration: none;
    font-weight: bold;
}
ul.messagelist li.warning,
ul.messagelist li.warning a {
    color: var(--message-warning-foreground);
}
ul.messagelist li.success,
ul.messagelist li.success a {
    color: var(--message-success-foreground);
}
ul.errorlist li {
    color: var(--message-error-marker);
}
ul.errorlist {
    margin: 0;
}